%flex{
    display: flex;
    align-items: center;
}

.exerciseBlock{
    @extend %flex;
    width: 475px;
    height: 80px;
    margin: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
    .ownExerciseItem{
        @extend %flex;
        .bx_menu{
            width: 40px;
            height: 40px;
            font-size: 40px;
            text-decoration: none;
            margin-right: 10px;
            color: black;
        }
        .bxs_heart{
            font-size: 30px;
        }
        .bxs_trash{
            font-size: 30px;
            margin-left: 15px;
        }
    }
    .infoBlock{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .name{
            font-weight: bold;
            font-size: 20px;
        }
    }
}

