@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:wght@300&family=Noto+Sans+JP:wght@500&family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;400;500;800&family=Space+Grotesk:wght@500;600;700&display=swap');

nav {
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 10px 20px; 
    position: sticky;
    top: 0;
    z-index: 100;
    .navbar {
        list-style-type: none; 
        padding: 0; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        .homepage{
            text-decoration: none;
            color: #000;
        }
      
        .logo{
            font-weight: 800;
            font-family: Space Grotesk;
            margin-right: 150px;
        }
        .navbar_item{
            margin: 0 15px;
            .link{
                text-decoration: none; 
                color: #333; 
                font-weight: bold; 
                transition: color 0.3s; 
            }
            .link:hover{
                color: #007bff;
            }
            i{
                font-size: 24px;
                display: flex;
                justify-content: center;
            }
        }
    }
}

