.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;

    .header{
        background-size: cover;
        width: 530px;
        height: 200px;
        color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .header_text{
            padding: 20px;
            margin-top: 100px;
            font-size: 50px;
        }
    }

    
.btn_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 80px;
    border-radius: 5px;
    position: sticky;
    top: 0;
    background-color: #fff;

    .btn_back{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 50px;
        background-color: rgb(0, 43, 236);
        color: white;
        border:none;
        border-radius: 5px;
        outline:none;
        font-size: 35px;
        font-family: Space Grotesk;
        margin: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }
    .btn{
        width: 500px;
        height: 50px;
        background-color: rgb(56, 56, 56);
        color: white;
        border:none;
        border-radius: 5px;
        outline:none;
        font-size: 35px;
        font-family: Space Grotesk;
        margin: 5px;
        cursor: pointer;
      
    }
}}


